@keyframes start {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.loadingSection {
  min-height: calc(100vh - 2rem);
  width: calc(100vw - 3.04rem);
  padding: 1rem;

  display: grid;
  place-content: center;

  animation: start 1000ms ease 0ms 1;

  img {
    background: transparent;
  }
}
