.searchSection {
  min-height: calc(100vh - 2rem);
  width: calc(100% - 2rem);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  & > i {
    font-size: 10rem;
    color: var(--thumbnail-ico);
  }
}

.isearchWrapper {
  position: relative;
  max-width: 35rem;
  width: 100%;
}

@media only screen and (max-width: 816px) {
  .searchSection {
    gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .searchSection {
    flex-direction: column;
    gap: 2rem;
  }
}

.search {
  position: relative;
  width: inherit;

  button {
    position: absolute;
    width: 3.5rem;
    background: transparent;
    border: none;
    font-size: 1.6rem;
    display: grid;
    place-content: center;
  }

  .searchIco {
    left: 0;
    top: 0;
    bottom: 0;
    color: var(--txt-st);
    pointer-events: none;
  }

  input:focus ~ .searchIco {
    filter: contrast(1.6);
  }

  input:not(:focus) ~ .searchClearIco {
    opacity: 0;
    cursor: default;
  }

  .searchClearIco {
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
    color: var(--txt-color2);
    transition: opacity 300ms, transform 300ms ease;

    &:hover {
      color: var(--txt-color1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
