.qualityCard {
  position: relative;
  background: var(--sub-background);
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0.7rem;
  cursor: pointer;
  transition: transform 300ms, background 300ms;

  & > * {
    user-select: none;
  }

  .downldIco {
    display: grid;
    place-content: center;
    width: 3.7rem;
    aspect-ratio: 1 / 1;
    background: var(--txt-color1);
    border-radius: 5px;

    font-size: 2rem;
    color: var(--background);
    transition: color 300ms;
  }

  .resolution {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 3px;
    color: var(--txt-color2);
    transition: color 300ms;
  }

  .format {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 1rem;
    font-weight: 800;
    font-size: 2rem;
    letter-spacing: 2px;
    color: var(--txt-st);
    opacity: 0.5;
    transition: color 300ms;
  }

  &:hover {
    background: var(--txt-color1);
    transform: scale(1.05);

    .resolution,
    .format {
      color: var(--background);
    }
  }

  &:active {
    background: var(--txt-color1);
    transform: scale(0.95);

    .resolution,
    .format {
      color: var(--background);
    }
  }
}
